{$DOMAIN}:{$PORT} {
    root /opt/tlm/html/
    header / {
        Host {host}
        X-Real-IP {remote}
        X-Forwarded-For {remote}
        X-Forwarded-Port {server_port}
        X-Forwarded-Proto {scheme}
    }

    fastcgi / /run/php/php7.0-fpm.sock php {
        index index.php
    }
}